<a href="https://colab.research.google.com/github/antonysama/exploratory/blob/master/excel%20table%20matching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd "/content/drive/My Drive/data_science"

/content/drive/My Drive/data_science

In [ ]:
!pip install fuzzywuzzy

1. python program to create two data frames from from tables from file data.xlsx, Sheet2. First table has column names A and B. Second has column names E and F.
2. Do a fuzzy match greater than 85% of the two tables based on their respective first column titles  and print a table of all columns

In [66]:
import pandas as pd
from fuzzywuzzy import fuzz

# Read the Excel file
data = pd.read_excel('data.xlsx', sheet_name='Sheet2')
# strip white speace
data.columns = data.columns.str.strip()

# Extract the first table from columns A and B
table1 = data[['A', 'B']]
table1.columns = ['Name', 'Value1']

# Extract the second table from columns E and F
table2 = data[['E', 'F']]
table2.columns = ['Name', 'Value2']

# Create an empty list to store the matched rows
matched_rows = []

# Perform fuzzy matching
matches = []
for name1 in table1['Name']:
    best_match = None
    best_ratio = 0
    name1_str = str(name1)
    for name2 in table2['Name']:
        name2_str = str(name2)
        ratio = fuzz.ratio(name1_str, name2_str)
        if ratio > best_ratio:
            best_match = name2_str
            best_ratio = ratio
    if best_ratio >= 85:
        matches.append((name1_str, best_match))

# Convert matches to a data frame
matches_df = pd.DataFrame(matches, columns=['Name', 'Wells'])

# Merge table1 with matches_df
result = pd.merge(table1, matches_df, on='Name', how='left')

# Merge result with table2
result = pd.merge(result, table2, on='Name', how='left')

print(result)

                            Name  Value1                               Wells  \
0       Advantage Oil & Gas Ltd.   280.0                                 NaN
1   Antero Resources Corporation  1365.0                                 NaN
2                            Apa  2765.0                                 NaN
3             ARC Resources Ltd.  2000.0                  ARC Resources Ltd.
4                         Baytex   625.0                                 NaN
5         Birchcliff Energy Ltd.   260.0              Birchcliff Energy Ltd.
6          Bonterra Energy Corp.   120.0               Bonterra Energy Corp.
7     Canadian Natural Resources  1433.0  Canadian Natural Resources Limited
8            Canacol Energy Ltd.   201.0                 Canacol Energy Ltd.
9           Cardinal Energy Ltd.   100.0                Cardinal Energy Ltd.
10           Coterra Energy Inc.  2651.0                                 NaN
11   Crescent Point Energy Corp.  1150.0          Crescent Point Energy Corp
12              Crew Energy Inc.   240.0                    Crew Energy Inc.
13       Crown Point Energy Inc.    20.0             Crown Point Energy Inc.
14            Devon Energy Corp.  4639.0                                 NaN
15                   Diamondback  3448.0                                 NaN
16          Enerplus Corporation   702.0                Enerplus Corporation
17            EOG Resources Inc.  7952.0                                 NaN
18               EQT Corporation  2717.0                                 NaN
19       Freehold Royalties Ltd.     0.0             Freehold Royalties Ltd.
20       Forza Petroleum Limited    80.0             Forza Petroleum Limited
21   Frontera Energy Corporation   420.0         Frontera Energy Corporation
22              Gear Energy Ltd.    50.0                    Gear Energy Ltd.
23       Gran Tierra Energy Inc.   331.0             Gran Tierra Energy Inc.

   Value2
0     NaN
1     NaN
2     NaN
3       -
4     NaN
5    23.0
6    44.0
7     NaN
8    10.0
9    17.6
10    NaN
11    NaN
12      -
13      -
14    NaN
15    NaN
16      -
17    NaN
18    NaN
19      -
20      -
21      -
22   22.0
23      -

In [67]:
result.to_excel('result.xlsx', index=False)

To perform a right outer join instead of a left outer join, we can modify the last line of code to:

In [72]:
import pandas as pd
from fuzzywuzzy import fuzz

# Read the Excel file
data = pd.read_excel('data.xlsx', sheet_name='Sheet2')
# strip white speace
data.columns = data.columns.str.strip()

# Extract the first table from columns A and B
table1 = data[['A', 'B']]
table1.columns = ['Name', 'Value1']

# Extract the second table from columns E and F
table2 = data[['E', 'F']]
table2.columns = ['Name', 'Value2']

# Create an empty list to store the matched rows
matched_rows = []

# Perform fuzzy matching
matches = []
for name1 in table1['Name']:
    best_match = None
    best_ratio = 0
    name1_str = str(name1)
    for name2 in table2['Name']:
        name2_str = str(name2)
        ratio = fuzz.ratio(name1_str, name2_str)
        if ratio > best_ratio:
            best_match = name2_str
            best_ratio = ratio
    if best_ratio >= 85:
        matches.append((name1_str, best_match))

# Convert matches to a data frame
matches_df = pd.DataFrame(matches, columns=['Name', 'Wells'])

# Merge table1 with matches_df
result = pd.merge(table1, matches_df, on='Name', how='right')

# Merge result with table2
result = pd.merge(result, table2, on='Name', how='left')

print(result)

                           Name  Value1                               Wells  \
0            ARC Resources Ltd.  2000.0                  ARC Resources Ltd.
1        Birchcliff Energy Ltd.   260.0              Birchcliff Energy Ltd.
2         Bonterra Energy Corp.   120.0               Bonterra Energy Corp.
3    Canadian Natural Resources  1433.0  Canadian Natural Resources Limited
4           Canacol Energy Ltd.   201.0                 Canacol Energy Ltd.
5          Cardinal Energy Ltd.   100.0                Cardinal Energy Ltd.
6   Crescent Point Energy Corp.  1150.0          Crescent Point Energy Corp
7              Crew Energy Inc.   240.0                    Crew Energy Inc.
8       Crown Point Energy Inc.    20.0             Crown Point Energy Inc.
9          Enerplus Corporation   702.0                Enerplus Corporation
10      Freehold Royalties Ltd.     0.0             Freehold Royalties Ltd.
11      Forza Petroleum Limited    80.0             Forza Petroleum Limited
12  Frontera Energy Corporation   420.0         Frontera Energy Corporation
13             Gear Energy Ltd.    50.0                    Gear Energy Ltd.
14      Gran Tierra Energy Inc.   331.0             Gran Tierra Energy Inc.

   Value2
0       -
1    23.0
2    44.0
3     NaN
4    10.0
5    17.6
6     NaN
7       -
8       -
9       -
10      -
11      -
12      -
13   22.0
14      -

In [73]:
result.to_excel('result.xlsx', index=False)

Modify the code slightly so that ALL the columns of table 2 show, but, only where names of table 2 do NOT match names of table 1 at greater than 85%

In [77]:
import pandas as pd
from fuzzywuzzy import fuzz

# Read the Excel file
data = pd.read_excel('data.xlsx', sheet_name='Sheet2')
# strip white speace
data.columns = data.columns.str.strip()

# Extract the first table from columns A and B
table1 = data[['A', 'B']]
table1.columns = ['Name', 'Value1']

# Extract the second table from columns E and F
table2 = data[['E', 'F']]
table2.columns = ['Name', 'Value2']

# Create an empty list to store the matched rows
matches = []

# Perform fuzzy matching
for name1 in table1['Name']:
    best_match = None
    best_ratio = 0
    name1_str = str(name1)
    for name2 in table2['Name']:
        name2_str = str(name2)
        ratio = fuzz.ratio(name1_str, name2_str)
        if ratio > best_ratio:
            best_match = name2_str
            best_ratio = ratio
    if best_ratio >= 85:
        matches.append(best_match)

# Filter table2 by removing matches
table2_filtered = table2[~table2['Name'].isin(matches)]

# Print filtered table2
print(table2_filtered)

                         Name Value2
0       Advantage Energy Ltd.   25.0
1       Alvopetro Energy Ltd.      -
3   Athabasca Oil Corporation      -
4         Baytex Energy Corp.      -
10        Cenovus Energy Inc.      -
11   Clearview Resources Ltd.      -
21                        NaN    NaN
22                        NaN    NaN
23                        NaN    NaN

Modify the code slightly so that ALL the columns of table 1 show, but, only where names of table 1 do NOT match names of table 2 at greater than 85%

In [82]:
import pandas as pd
from fuzzywuzzy import fuzz

# Read the Excel file
data = pd.read_excel('data.xlsx', sheet_name='Sheet2')
# strip white speace
data.columns = data.columns.str.strip()

# Extract the first table from columns A and B
table1 = data[['A', 'B']]
table1.columns = ['Name', 'Value1']

# Extract the second table from columns E and F
table2 = data[['E', 'F']]
table2.columns = ['Name', 'Value2']

# Perform fuzzy matching
matches = []
for name1 in table1['Name']:
    best_match = None
    best_ratio = 0
    name1_str = str(name1)
    for name2 in table2['Name']:
        name2_str = str(name2)
        ratio = fuzz.ratio(name1_str, name2_str)
        if ratio > best_ratio:
            best_match = name2_str
            best_ratio = ratio
    if best_ratio < 85:
        matches.append(name1_str)

# Filter table 1 to only include rows where the Name column is in the list of unmatched names
unmatched_table1 = table1[table1['Name'].isin(matches)]

# Print the result
print(unmatched_table1)

                            Name  Value1
0       Advantage Oil & Gas Ltd.   280.0
1   Antero Resources Corporation  1365.0
2                            Apa  2765.0
4                         Baytex   625.0
10           Coterra Energy Inc.  2651.0
14            Devon Energy Corp.  4639.0
15                   Diamondback  3448.0
17            EOG Resources Inc.  7952.0
18               EQT Corporation  2717.0

Modified above slightly to read three columns of each table instead of two

In [90]:
import pandas as pd

# Read the Excel file into a DataFrame
data = pd.read_excel('data.xlsx', sheet_name='Sheet2')

# Strip whitespace from column names
data.columns = data.columns.str.strip()

# Extract the first table from columns A, B, and C
table1 = data[['A', 'B', 'C']]
table1.columns = ['Name', 'Value1', 'Value2']

# Extract the second table from columns E, F, and G
table2 = data[['E', 'F', 'G']]
table2.columns = ['Name', 'Value3', 'Value4']

# Find the names in table 1 that don't match the names in table 2 at 85% or greater
matches = []
for name1 in table1['Name']:
    best_match = None
    best_ratio = 0
    name1_str = str(name1)
    for name2 in table2['Name']:
        name2_str = str(name2)
        ratio = fuzz.ratio(name1_str, name2_str)
        if ratio > best_ratio:
            best_match = name2_str
            best_ratio = ratio
    if best_ratio < 85:
        matches.append(name1_str)

# Filter table 1 to only include rows where the Name column is in the list of unmatched names
result = table1[table1['Name'].isin(matches)]

#
# Print the result
print(result)

                            Name  Value1 Value2
0       Advantage Oil & Gas Ltd.   280.0  dummy
1   Antero Resources Corporation  1365.0  dummy
2                            Apa  2765.0  dummy
4                         Baytex   625.0  dummy
10           Coterra Energy Inc.  2651.0  dummy
14            Devon Energy Corp.  4639.0  dummy
15                   Diamondback  3448.0  dummy
17            EOG Resources Inc.  7952.0  dummy
18               EQT Corporation  2717.0  dummy

In [88]:
data = pd.read_excel('data.xlsx', sheet_name=None)
print(data.keys())

dict_keys(['Sheet1', 'Sheet2'])