<a href="https://colab.research.google.com/github/antonysama/exploratory/blob/master/GasRFM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Install pkgs
install.packages(c('readxl', 'lubridate', 'psych', dependencies = TRUE, repos = "https://cran.rstudio.com/"))
x<-c('readxl', 'lubridate', 'psych')
lapply(x, require, character.only = TRUE)

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message:
“packages ‘TRUE’, ‘https://cran.rstudio.com/’ are not available for this version of R

Versions of these packages for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”

[[1]]
[1] TRUE

[[2]]
[1] TRUE

[[3]]
[1] TRUE

In [ ]:
df<-read_excel('Gas_RFM.xlsx', sheet = "Calculation Monthly",skip =6  )
head(df,2)

  Date       Fiscal_Year Fiscal_Quarter Cal_Year EAD_Match EAD_Match_Now
1 2018-01-01 2017 / 2018 Qtr4           2018     109       109
2 2018-02-01 2017 / 2018 Qtr4           2018     110       110
  EAD_Annual_Match RFM_Match RFMAlternate_Match RFM_Annual_Match ⋯
1 10               NA        13                 NA               ⋯
2 10               NA        14                 NA               ⋯
  AllowCostRestrictAdjusted_CAD AllowCostRestrictAdjusted_000CAD
1 8118163                       8118.163
2 8506928                       8506.928
  Actl_TotalGCA_CAD Fcst_TotalGCA_CAD TotalGCA_CAD TotalGCA_000CAD
1 203121203               NA          203121203    203121.20
2        NA         60953019           60953019     60953.02
  Actl_NRRGasNGLs_000CAD Fcst_NRRGasNGLs_000CAD NRRGasNGLs_000CAD
1  7358.149              NA                      7358.149
2 48106.784              NA                     48106.784
  EffRoyaltyRate_%
1 0.00625018
2 0.04667724

In [ ]:
#Inpect data quality & types  ---- this was TOO BIG to inspect, but the pkg runs faster than skimr
describe(df) # pckg psych

In [ ]:
#Inspect my variable of C5 price for type
str(df$'C5RefPriceSpec_CAD/M3') #class can be used instead of str

 num [1:240] 489 463 491 533 552 ...

In [ ]:
#Subset fiscal years and aggregate the mean for C5 spec price
f_a <- subset(df, df$'Fiscal_Year' == "2022 / 2023" | df$'Fiscal_Year' == "2023 / 2024")

aggregate(df_a$'C5RefPriceSpec_CAD/M3', by=list(df_a$'Fiscal_Year'),mean)

  Group.1     x
1 2022 / 2023 716.9585
2 2023 / 2024 596.4336

In [ ]:
#Also, create a new fscl_yr column, a numeric one as opposed to above chr
df$fscl_yr <- ifelse ( month(df$Date)<4, year(df$Date)-1, year(df$Date) )

In [ ]:
#Inspect both fscl year columns
head(df[, c("fscl_yr", "Fiscal_Year")])

  fscl_yr Fiscal_Year
1 2017    2017 / 2018
2 2017    2017 / 2018
3 2017    2017 / 2018
4 2018    2018 / 2019
5 2018    2018 / 2019
6 2018    2018 / 2019

In [ ]:
#Subset the new fiscal years and aggregate the mean for C5 spec price
df_b <- subset(df, df$'fscl_yr' >= 2022 & df$'fscl_yr' <= 2024)
aggregate(df_b$'C5RefPriceSpec_CAD/M3', by=list(df_b$'fscl_yr'),mean)

  Group.1 x
1 2022    716.9585
2 2023    596.4336
3 2024    583.6842