<a href="https://colab.research.google.com/github/antonysama/exploratory/blob/master/Petrinex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
#Install pkgs
install.packages(c('janitor', dependencies = TRUE, repos = "https://cran.rstudio.com/"))
x<-c('dplyr', 'magrittr','skimr','tidyr','janitor')
lapply(x, require, character.only = TRUE)

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message:
“packages ‘TRUE’, ‘https://cran.rstudio.com/’ are not available for this version of R

Versions of these packages for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”

[[1]]
[1] TRUE

[[2]]
[1] TRUE

[[3]]
[1] TRUE

[[4]]
[1] TRUE

[[5]]
[1] TRUE

In [62]:
#Read csv
data <- read.csv("data.CSV", header = TRUE)
df <- data[, 1:24]  # Assuming columns A to X are indices 1 to 24
head(df,2)

  ProductionMonth OperatorBAID OperatorName
1 2023-04         0007         IMPERIAL OIL RESOURCES LIMITED
2 2023-04         0007         IMPERIAL OIL RESOURCES LIMITED
  ReportingFacilityID ReportingFacilityProvinceState ReportingFacilityType
1 ABBT0051211         AB                             BT
2 ABBT0051211         AB                             BT
  ReportingFacilityIdentifier ReportingFacilityName
1 51211                       IMPERIAL MASKWA BATTERY 10-12
2 51211                       IMPERIAL MASKWA BATTERY 10-12
  ReportingFacilitySubType ReportingFacilitySubTypeDesc ⋯ FacilityRange
1 344                      IN-SITU OIL SANDS            ⋯ 4
2 344                      IN-SITU OIL SANDS            ⋯ 4
  FacilityMeridian SubmissionDate ActivityID ProductID FromToID
1 4                2023-05-19
2 4                2023-05-19
  FromToIDProvinceState FromToIDType FromToIDIdentifier Volume
1
2

In [63]:
#Inpect data quality & types
skim_without_charts(df)

── Data Summary ────────────────────────
                           Values
Name                       df
Number of rows             556221
Number of columns          24
_______________________
Column type frequency:
  character                17
  numeric                  7
________________________
Group variables            None

── Variable type: character ────────────────────────────────────────────────────
   skim_variable                  n_missing complete_rate min max  empty
 1 ProductionMonth                        0             1   7   7      0
 2 OperatorBAID                           0             1   4   4      0
 3 OperatorName                           0             1   9  97      0
 4 ReportingFacilityID                    0             1  11  11      0
 5 ReportingFacilityProvinceState         0             1   2   2      0
 6 ReportingFacilityType                  0             1   2   2      0
 7 ReportingFacilityName                  0             1   2  36      0
 8 ReportingFacilitySubTypeDesc           0             1   8  58      0
 9 ReportingFacilityLocation              0             1  11  14      0
10 SubmissionDate                         0             1   0  10     26
11 ActivityID                             0             1   0   8   7872
12 ProductID                              0             1   0   6  20841
13 FromToID                               0             1   0  20  93221
14 FromToIDProvinceState                  0             1   0   2 109251
15 FromToIDType                           0             1   0   2 109251
16 FromToIDIdentifier                     0             1   0  16  94418
17 Volume                                 0             1   0   9  20841
   n_unique whitespace
 1        1          0
 2      451          0
 3      451          0
 4    21094          0
 5        1          0
 6        4          0
 7    20739          0
 8       38          0
 9    15477          0
10       21          0
11       28          0
12       37          0
13   181827          0
14        2          0
15       24          0
16   181786          0
17    38575          0

── Variable type: numeric ──────────────────────────────────────────────────────
  skim_variable               n_missing complete_rate       mean          sd
1 ReportingFacilityIdentifier         0             1 1251727.   2647001.
2 ReportingFacilitySubType            0             1     361.        69.8
3 FacilityLegalSubdivision            0             1       8.35       4.69
4 FacilitySection                     0             1      18.4       10.3
5 FacilityTownship                    0             1      48.3       20.6
6 FacilityRange                       0             1      11.6        7.37
7 FacilityMeridian                    0             1       4.60       0.686
    p0   p25    p50    p75    p100
1 1001 91368 127692 158654 9982097
2  311   322    345    363     903
3    1     4      8     12      16
4    1     9     18     27      36
5    1    34     48     63     122
6    1     5     10     18      30
7    4     4      4      5       6

ERROR: ignored

In [64]:
# Convert 'Volume' to numeric, ReportingFacilitySubType to integer
df$Volume <- as.numeric(df$Volume)
df$ReportingFacilitySubType <- as.integer(df$ReportingFacilitySubType)
# Verify the data type of 'Volume'
str(df$Volume) #  class(df$Volume)
str(df$ReportingFacilitySubType) #  class(df$ReportingFacilitySubType)

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

 num [1:556221] NA NA NA NA NA NA NA NA NA NA ...
 int [1:556221] 344 344 344 344 344 344 344 344 344 344 ...

The below 5 are the operations to convert to numbers we want

In [66]:
(oil<-sum((df$Volume * 6.2925 / 30)[df$ActivityID =="PROD" & df$ProductID == "OIL" & (df$ReportingFacilitySubType < 331 | df$ReportingFacilitySubType > 349) & !is.na(df$Volume)]))

[1] 530845.6

In [67]:
(cond<-sum((df$Volume * 6.2925 / 30)[df$ActivityID =="PROD" & df$ProductID == "COND" & !is.na(df$Volume)]))

[1] 67891.17

In [68]:
(thermal<-sum((df$Volume * 6.29234 / 30)[df$ActivityID =="PROD" & df$ProductID == "OIL" & df$ReportingFacilitySubType >= 331 & df$ReportingFacilitySubType <= 349 & !is.na(df$Volume)]))

[1] 1664531

In [69]:
(c5<-sum((df$Volume )[df$ActivityID =="PROC" & (df$ProductID == "C5-MX" | df$ProductID == "C5-SP")&!is.na(df$Volume)]))

[1] 1326286

In [71]:
(gas<-sum((df$Volume )[df$ActivityID =="PROD" & df$ProductID == "GAS" &!is.na(df$Volume)]))

[1] 11173237

In [72]:
#Print an array of results
c (oil, cond, thermal, c5, gas)
#oil-bpd, cond-bpd, thermal-bpd, c5-m3, gas-m3

[1]   530845.60    67891.17  1664530.72  1326285.60 11173237.40